@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="~/RegistrosPontos/Create">Registrar Ponto</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="~/RegistrosPontos">Relatório de Registros de Pontos</a>
        </div>
    </div>    
</div>
